# object files
*.o

# dependency files
*.d

# library files
*.a
*.la
*.lo
*.so
*.so.*

# backup files
*.*~

# test files
tests/*.log
tests/*.trs

# autotools files
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver

# configure files
Makefile
.deps
.libs
config.h
config.log
config.status
libtool
stamp-h1
